<%= form_with(model: @poll, local: true, class: 'container mt-4') do |form| %>

  <!-- Poll Title -->
  <div class="mb-4">
    <%= form.label :title, class: 'form-label' %>
    <%= form.text_field :title, class: 'form-control form-control-sm' %>
  </div>

  <!-- Poll Description -->
  <div class="mb-4">
    <%= form.label :description, class: 'form-label' %>
    <%= form.text_area :description, class: 'form-control form-control-sm', rows: 3 %>
  </div>

  <h3 class="mb-4">Choices</h3>

  <div class="choices-container">
  <%= form.fields_for :choices do |choice_form| %>
    <div class="choice-field mb-3 <%= 'new-choice' if choice_form.object.new_record? %>">
      <div class="input-group">
        <%= choice_form.text_field :content, class: "form-control form-control-sm", placeholder: choice_form.object.new_record? ? "Enter a choice here" : choice_form.object.content %>

        <% if choice_form.object.new_record? %>
          <div class="input-group-append">
            <%= link_to 'Remove', '#', class: 'btn btn-danger ms-2 remove_fields' %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>


  <div class="mb-4">
    <%= link_to_add_fields "Add Choice", form, :choices %>
  </div>

  <!-- Submit Button -->
  <div class="mb-4">
    <%= form.submit "Create Poll", class: 'btn btn-primary' %>
  </div>

<% end %>
