<%= form_with url: poll_votes_path(@poll.id), method: :post, class: "vote-form" do |form| %>
    <div class="container">
      <h1 class="text-center mb-4"><%= @poll.title %></h1>
  
      <% @poll.choices.each do |choice| %>
        <div class="form-check">
          <%= radio_button_tag :choice_id, choice.id, false, id: "choice_#{choice.id}", class: "form-check-input" %>
          <%= label_tag "choice_#{choice.id}", choice.content, class: "form-check-label" %>
        </div>
      <% end %>
  
      <div class="text-center mt-4">
        <%= form.submit "Vote", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
